<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <img alt="Brand" src="/assets/seas-logo.png">
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%= top_nav_list_item 'student' %>
        <%= top_nav_list_item 'school' %>
      </ul>
    </div>
  </div>
</nav>
